@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Source+Serif+Pro:wght@600&display=swap");

$aos-distance: 16px; // It has to be above import
@import "node_modules/aos/src/sass/aos.scss";

// Bootstrap stylesheets
@import "@/node_modules/bootstrap/scss/maps";
@import "@/node_modules/bootstrap/scss/utilities";

// Optional Bootstrap components
@import "@/node_modules/bootstrap/scss/root";
@import "@/node_modules/bootstrap/scss/reboot";
@import "@/node_modules/bootstrap/scss/images";
@import "@/node_modules/bootstrap/scss/containers";
@import "@/node_modules/bootstrap/scss/grid";
@import "@/node_modules/bootstrap/scss/buttons";
@import "@/node_modules/bootstrap/scss/button-group";
@import "@/node_modules/bootstrap/scss/close"; // = close button
@import "@/node_modules/bootstrap/scss/forms";
@import "@/node_modules/bootstrap/scss/type"; // list
@import "@/node_modules/bootstrap/scss/card";
@import "@/node_modules/bootstrap/scss/nav";

@import "@/node_modules/bootstrap/scss/spinners";
// @import "@/node_modules/bootstrap/scss/dropdown";

// Helpers
@import "@/node_modules/bootstrap/scss/helpers/position";
@import "@/node_modules/bootstrap/scss/helpers/stacks";
@import "@/node_modules/bootstrap/scss/helpers/ratio";

// Utilities
@import "@/node_modules/bootstrap/scss/utilities/api";

@import "@/assets/css/_transitions"; // vue page transitions
@import "@/assets/css/_animations";
@import "@/assets/css/_utilities";

body {
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;

  // &.disable-scroll {
  //   overflow-y: hidden;
  //   position: fixed;
  // }
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background: transparent;
}

button {
  border-width: 0;
}

.btn-secondary {
  color: #fff;
}

[class^="btn btn-outline"] {
  border-width: 1px !important;
}

section {
  @extend .py-4;
}
